@model RuychWeb.Areas.Admin.Models.ProductCreateModel

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="card p-4 shadow-sm">
        <h3 class="mb-4">Thêm sản phẩm</h3>

        <!-- Product Name and Price on the same row -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="Name" class="form-label">Tên sản phẩm</label>
                <input asp-for="Name" class="form-control" placeholder="Nhập tên sản phẩm" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Price" class="form-label">Giá</label>
                <input asp-for="Price" class="form-control" placeholder="Nhập giá" />
            </div>
        </div>

        <!-- Thumbnail -->
        <div class="mb-3">
            <label asp-for="ThumbnailFile" class="form-label">Thêm ảnh</label>
            <input asp-for="ThumbnailFile" class="form-control" placeholder="Thêm ảnh" />
            <span asp-validation-for="ThumbnailFile" class="text-danger"></span>
        </div>

        <!-- Description -->
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Mô tả</label>
            <textarea asp-for="Description" class="form-control" rows="4" placeholder="Nhập mô tả"></textarea>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                <label asp-for="CategoryId" class="control-label">Danh mục</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories" required></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="Color" class="control-label">Màu sắc</label>
                <select asp-for="Color" class="form-control">
                    @foreach (var color in ViewBag.Colors as List<string> ?? new List<string>())
                    {
                        <option value="@color">@color</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="Size" class="control-label">Size</label>
                <select asp-for="Size" class="form-control">
                    @foreach (var size in ViewBag.Sizes as List<string> ?? new List<string>())
                    {
                        <option value="@size">@size</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Quantity" class="control-label">Số lượng</label>
                <input asp-for="Quantity" class="form-control" />

            </div>
        </div>

        <!-- Sale -->
        <div class="mb-3">
            <label asp-for="SaleId" class="form-label">Sale</label>
            <select asp-for="SaleId" class="form-select" asp-items="ViewBag.Sales">
                <option value="">None</option>
            </select>
            <span asp-validation-for="SaleId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Hiển thị sản phẩm</label>
            <div class="form-check">
                <input asp-for="OnSale" class="form-check-input" type="checkbox" />
                <label class="form-check-label" for="OnSale">
                    Đang bán
                </label>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">Thêm</button>
        </div>
    </div>
</form>
<a href="@Url.Action("Index", "Product", new { area = "Admin" })">Quay về danh sách</a>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        $("#ImageUpload").change(function () {
            readURL(this);
        });


        $(".typing-price").on("keyup", function () {
            var currency_input = $(this).val().replace(/[^\d.-]/g, '');  // Xóa tất cả ký tự không phải số hoặc dấu chấm
            $(this).val(currency_input);  // Đặt lại giá trị cho input

            // Chuyển đổi số thành định dạng tiền tệ VND
            $("#price-convert").html(
                new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' }).format(currency_input)
            );
        });
    </script>

    <script>
        CKEDITOR.replace('Description');
    </script>

    <script>
        $(".typing-price").on("keyup", function () {

            var currency_input = $(this).val(); //29980000

            $("#price-convert").html(

                new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' }).format(
                currency_input,

                )
            );
        });
    </script>
}