@model RuychWeb.Areas.Admin.Models.ProductEditModel

@{
    ViewData["Title"] = "Edit Product";
}

<h3 class="text-primary">Sửa thông tin sản phẩm</h3>

<div class="card shadow mb-4">
    <div class="card-body">
        <form asp-action="Edit" asp-route-id="@Model.ProductId" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Name" class="control-label">Tên sản phẩm</label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Price" class="control-label">Giá</label>
                    <input asp-for="Price" class="form-control" />
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.Thumbnail))
            {
                <div class="form-group">
                    <label class="control-label">Hình ảnh hiện tại</label>
                    <div>
                        <img src="@Url.Content("~/images/Products/" + Model.Thumbnail)" alt="Current Thumbnail" style="max-height: 100px; max-width: 100px;" />
                        <p>Đường dẫn hiện tại: @Model.Thumbnail</p>
                    </div>
                </div>
                <!-- Nếu có ảnh rồi, hiển thị tên ảnh và không cần upload lại, chỉ upload nếu muốn thay đổi -->
                <input asp-for="ThumbnailFile" class="form-control" type="file" />
            }
            else
            {
                <!-- Nếu không có ảnh, cho phép người dùng tải lên mới -->
                <div class="form-group">
                    <label asp-for="ThumbnailFile" class="control-label">Tạo ảnh mới</label>
                    <input asp-for="ThumbnailFile" class="form-control" type="file" />
                </div>
            }

            <div class="form-group">
                <label asp-for="Description" class="control-label">Mổ tả</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="CategoryId" class="control-label">Danh mục</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label for="Color" class="control-label">Màu sắc</label>
                    <select asp-for="Color" class="form-control">
                        @foreach (var color in ViewBag.Colors as List<string> ?? new List<string>())
                        {
                            <option value="@color">@color</option>
                        }
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="Size" class="control-label">Size</label>
                    <select asp-for="Size" class="form-control">
                        @foreach (var size in ViewBag.Sizes as List<string> ?? new List<string>())
                        {
                            <option value="@size">@size</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Quantity" class="control-label">Số lượng</label>
                    <input asp-for="Quantity" class="form-control" />

                </div>
            </div>

            <div class="form-group">
                <label asp-for="SaleId" class="form-label">Sale</label>
                <select asp-for="SaleId" class="form-select" asp-items="ViewBag.Sales">
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Hiển thị sản phẩm</label>
                <div class="form-check">
                    <!-- Chỉ cần sử dụng asp-for, checkbox sẽ tự động bind với giá trị model -->
                    <input asp-for="Status" class="form-check-input" type="checkbox" />
                    <label class="form-check-label" for="Status">
                        Đang bán
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
    </div>
</div>
<a href="@Url.Action("Index", "Product", new { area = "Admin" })">Quay về danh sách</a>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description');

        $(".typing-price").on("keyup", function () {
            var currency_input = $(this).val();
            $("#price-convert").html(
                new Intl.NumberFormat('vn-VN', {
                    style: 'currency',
                    currency: 'VND'
                }).format(currency_input)
            );
        });
    </script>
}
